@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


html,body{
    height:100%;
    padding:0;
    margin:0;
}

*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: #D7C1A3;
}


.topBar{
    /* position:fixed; */
    width:100%;
    z-index:1;
    display:flex;
    align-items: center;
    padding: 0 60px;
    height:70px;
    box-sizing: border-box;
    min-width: 1050px;
    
}

.navLinks{
    display: flex;
    list-style: none;
    margin-left: auto;
}

.navLinks a{
    text-decoration: none;
    color: #704B4C;
    font-size: 22px;
    font-weight: bolder;
    margin: 15px;
}

.gallery{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 4fr;
    grid-gap: 10px;
    height: 700px;
    margin-top: 30px;
}

.gallery > div {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 0.5s ease-in;
  
}

.gallery > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
  }

.gallery .bg-1{
    grid-column:1/2 ;
    grid-row: 1/2;
   
}

.gallery .bg-2{
    grid-column:1/2 ;
    grid-row: 2/3;
    
}

.gallery .bg-3{
    grid-column:1/2 ;
    grid-row: 3/4;
    background-color: #704B4C;
    
}

.gallery .bg-4{
    grid-column:1/2;
    grid-row: 4/5;
    
}

.gallery .bg-5{
    grid-column:2/4 ;
    grid-row: 1/2;
    background-color: #704B4C;
    
}

.gallery .bg-6{
    grid-column: 2/3;
    grid-row: 2/4;
   

}

.gallery .bg-7{
    grid-column: 3/4;
    grid-row: 2/4;
    

}

.gallery .bg-8{
    grid-column: 2/4;
    grid-row: 4/5;
    

}

.bg-1{
    background: url("../images/8.jpg");
}

.bg-2{
    background:url('../images/2.jpg');
}

.bg-4{
    background-image: url('../images/1.jpg');
}
.bg-5{
    background: url('../images/2.jpg');
}
.bg-6{
    background: url('../images/4.jpg');
}
.bg-7{
    background: url('../images/5.jpg');
}
.bg-8{
    background: url('../images/3.jpg');
}

