@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


html,body{
    height:100%;
    padding:0;
    margin:0;
}

*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: #D7C1A3;
}


.topBar{
    /* position:fixed; */
    width:100%;
    z-index:1;
    display:flex;
    align-items: center;
    padding: 0 60px;
    height:70px;
    box-sizing: border-box;
    min-width: 1050px;
    
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logoImg{
    margin-top: 15px;
    height:30px;
    margin-left: 80px;
    
}

.navLinks{
    display: flex;
    list-style: none;
    margin-left: auto;
}

.navLinks a{
    text-decoration: none;
    color: #704B4C;
    font-size: 22px;
    font-weight: bolder;
    margin: 15px;
}

.gallery{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 4fr;
    grid-gap: 10px;
    height: 700px;
    margin-top: 30px;
}

.gallery > div {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 0.5s ease-in;
  
}

.gallery > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
  }

.gallery .bg-1{
    grid-column:1/2 ;
    grid-row: 1/2;
   
}

.gallery .bg-2{
    grid-column:1/2 ;
    grid-row: 2/3;
    
}

.gallery .bg-3{
    grid-column:1/2 ;
    grid-row: 3/4;
    background-color: #704B4C;
}


.gallery .bg-4{
    grid-column:1/2;
    grid-row: 4/5;
    
}

.gallery .bg-5{
    grid-column:2/4 ;
    grid-row: 1/2;
    background-color: #704B4C;
    
}

.gallery .bg-6{
    grid-column: 2/3;
    grid-row: 2/4;
   

}

.gallery .bg-7{
    grid-column: 3/4;
    grid-row: 2/4;
    

}

.gallery .bg-8{
    grid-column: 2/4;
    grid-row: 4/5;
    

}

.bg-1{
    background: url("../images/8.jpg");
}

.bg-2{
    background:url('../images/2.jpg');
}

.bg-4{
    background-image: url('../images/1.jpg');
}

.bg-6{
    background: url('../images/4.jpg');
}
.bg-7{
    background: url('../images/5.jpg');
}
.bg-8{
    background: url('../images/3.jpg');
}

#aboutme{
    margin-top: 20px;
    margin:0 auto;
    width:80%;
    /* background-color: #c9b191;  */

}

.containerAbout h3{
    color: #704B4C;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
}

.profileImage{
    width:100%;
    
}
.imgP{
    border-radius: 50%;
    width: 200px;
    height:200px;
    display: block;
    margin: 0 auto;
    
}

.about-info{
    margin:20px;
    color:#704B4C;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

#projects{
    margin-top: 20px;
    margin:0 auto;
    width:80%;
    /* background-color: #c9b191;  */

}

#projects h3{
    color: #704B4C;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
}

.projects-container > div {
    height:210px;
    transition: all 0.5 ease;
}

.projects-container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
  }

.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap:10px;
    margin-bottom:50px;
}

.p1,.p2,.p3,.p4,.p5,.p6{
    background-color: #704B4C;
}

.p1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.p2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.p3{
    grid-column: 3/4;
    grid-row: 1/2;
}

.p4{
    grid-column: 1/2;
    grid-row:2/3;
}

.p5{
    grid-column: 2/3;
    grid-row: 2/3;
}

.p6{
    grid-column: 3/4;
    grid-row:2/3;
}

#contact-me{
    margin-top: 20px;
    
}

/* .contact-bg{
    background-color: #9E8670;
} */

.contactme-container{
    margin-top: 20px;
    margin:0 auto;
    width:80%;
    color:#704B4C;
    /* background-color: #c9b191;  */
    

}

.contactme-container h3{
    text-align: center;
    color: #704B4C;
    font-weight: bolder;
}